/* red: #D43C33 */
body{
  font-size: 15px;
}
section.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #D43C33;
  padding: 17px 10px;
}
section.topbar .logo>svg{
  width: 142px;height: 25px;
  vertical-align: top;

}
section.topbar > a{
  color: white;
  display: inline-block;
  padding: 5px 11px;
  line-height: 20px;
  position: relative;
}
section.topbar > a::after{
  content:'';
  position: absolute;
  top:0;
  left: 0;
  width: 200%;
  height: 200%;
  border: 1px solid white;
  border-radius: 50px;
  transform: scale(0.5);
  transform-origin: 0 0;
}

/* tabs */
.tabs{
  display: flex;
  border-bottom: 1px solid #CCCCCC;
}
.tabs>li{
  width: 33.333333%;
  text-align: center;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs>li>.text{
  padding: 10px 5px;
  position: relative;
  top: 1px;
}
.tabs >li.active{
  color: #D43C33;
}
.tabs >li.active>.text{ 
}
.tabs >li.active>.text::after{
  content: '';
  position: absolute;
  height: 2px;
  background: #D43C33;
  bottom: 1px;
  left: 0;
  width: 100%;
}
.tab-content > li{
  display: none;
}
.tab-content > li.active{
  display: block;
}

section.playlists{

}
section.playlists > h2{
  border-left: 2px solid #D43C33;
  font-size: 17px;
  line-height: 1;
  padding-left: 8px;
  margin: 20px 0 8px;
}
section.playlists > ol.songs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
}
section.playlists > ol.songs > li{
  width: 32.8%;
  margin: 8px 0;
}
section.playlists > ol.songs > li p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 18px;
  height: 36px;
  padding: 0 6px;
}
section.playlists > ol.songs > li img{
  width: 100%;
}
section.songs{}
section.art{}


